<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,500&amp;display=swap'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body{
    background: black;
    color: white;
}
.signin{
	color: #d2ac69;
}
</style>
<body>

<div class="container back">
	<div class="signed">
		<h2>You are signed out </h2>
	</div>



<h3 class="signin">Sign in </h3 class="signin"><a href="{{ url_for('login') }}"> Sign In </a>

</div>
<!-- partial -->
<script src='https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js'></script>


</body>
</html>

